
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    text-align: center;

}
h1{
    margin-bottom: 20px;;
}
.full-image{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.displayed-image{
    width: 600%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.overlay-text{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    pointer-events: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;       
}
.button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.thumb-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.thumb-bar img{
    width: 100px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.thumb-bar img:hover{
    thumb-bar:focus{
    transform: scale(1.1);
    outline: 2px solid  #007BFF;
}   