html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;
}
body {
  overflow: hidden;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}