html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding: 10px;
  position: absolute;
  color: #fff;
  z-index: 10;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
  z-index: 10;
}

canvas {
  display: block;
}