html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;
}
body {
  overflow: hidden;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}
p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}