body {
  background-color: white;
  color: #333333;
  font: 1em / 1.4 system-ui;
  padding: 1em;
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin: 0 0 20px;
  color: purple;
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 20px;
  color: purple;
}

* {
  box-sizing: border-box;
}

p {
  color: gray;
  margin: 0.5em 0;
}

img {
  max-width: 100%;
  height: 50px;
  margin: 20px 0;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
}

.separator {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.separator label {
  flex: 2;
}

.separator input,
.separator select {
  flex: 3;
  padding: 5px;
}
textarea {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 200px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #dddddd;
  width: 50%;
  margin: 0 auto;
  display: block;
}

button:hover,
button:focus {
  background-color: #eeeeee;
  cursor: pointer;
}